<!-- header.html -->
<header class="header">
    <div class="header-content">
        <div class="title-profile-container">
            <h1>아무 말 대잔치</h1>
            <div class="profile-container">
                <div class="profile-image" id="profileImage">
                    <img src="" alt="프로필" id="userProfileImage">
                </div>
                <div class="dropdown" id="profileDropdown">
                    <div class="dropdown-item" id="editProfile">회원정보수정</div>
                    <div class="dropdown-item" id="editPassword">비밀번호수정</div>
                    <div class="dropdown-item" id="logout">로그아웃</div>
                </div>
            </div>
        </div>
    </div>
    <hr class="divider">
</header>